# 머신러닝
- 기계에게 규칙을 찾아달라고 하는 것
- 규칙을 찾고 싶은 데이터가 필요

In [1]:
# 기계가 규칙을 잘 찾는지 확인하기
# 미스터리 사인

In [2]:
# Question 1
# 규칙 큰 수 + 두 수의 차
# 22 ? 7 = 37
# 1. 문제정의
# - 해결하고 싶은 문제 정의
# - 미스터리 사인 규칙 찾기
# - 지도 > 회귀

In [3]:
# 2. 데이터 수집
list1 = []
for i in range(100):
    for j in range(100):
        result = (i+(i-j)) if i>j else (j+(j-i))
        list1.append([i,j,result])

In [4]:
# 3. 데이터 전처리
# list>DataFrame
# 이상치 결측치 
# 머신러닝 모델에 학습할 형식으로 변환 > pd.datafram, pd.Series, np.array
import pandas as pd
data1=pd.DataFrame(list1, columns=['N1','N2','Result'])
data1

      N1  N2  Result
0      0   0       0
1      0   1       2
2      0   2       4
3      0   3       6
4      0   4       8
...   ..  ..     ...
9995  99  95     103
9996  99  96     102
9997  99  97     101
9998  99  98     100
9999  99  99      99

[10000 rows x 3 columns]

In [5]:
# 문제(X)
# 정답(y)
# 4. 탐색적 데이터 분석
# - 데이터를 자세하게 살펴보면서 데이터를 파악하기
# 5. 하이퍼 파라미터 튜닝
# - 데이터에 어울리는 모델 선택
# - 모델을 세부적으로 조정

In [6]:
X=data1[['N1','N2']]
y=data1[['Result']]
X

      N1  N2
0      0   0
1      0   1
2      0   2
3      0   3
4      0   4
...   ..  ..
9995  99  95
9996  99  96
9997  99  97
9998  99  98
9999  99  99

[10000 rows x 2 columns]

In [7]:
# 6. 학습
# - fit(문제, 정답)
#
# 머신러닝 모델이 규칙을 찾게 해주기

#사용할 모델 불러오기
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor()

# 규칙 찾게하기
# 가지고 있는 전체 데이터를 살펴보고
# 문제로 정답을 도출할 수 있는 규칙 1가지 찾기
random_forest.fit(X,y)

c:\Users\gjaischool1\anaconda3\envs\machine\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [8]:
# 예측하기
# 찾은 규칙을 토대로 입력한 데이터의 정답 예측해보기
random_forest.predict(pd.DataFrame([[22,7]],columns=['N1','N2']))
# 이줄 리스트를 사용하는 이유 : X데이터의 형식과 같은 형식으로 데이터를 입력

array([37.03])

In [9]:
# 분홍색 경고창 > 무시해도 상관 없음
# 약간의 문법 오류 > 고쳐서 실행시켜줌
# 버전에 따라 달라지는 코드 / 실행방식 > 일단 실행은 시켜줄 테니 수정해라

In [10]:
# Question 2
# 규칙 : ( 큰 수 / 작은 수)의 나머지
# 4 ? 17 = 1

In [11]:
# 데이터 수집
list1 = []
for i in range(1,100):
    for j in range(1,100):
        result = max(i,j) % min(i,j)
        list1.append([i,j,result])

In [12]:
data1=pd.DataFrame(list1, columns=['N1','N2','Result'])
data1

      N1  N2  Result
0      1   1       0
1      1   2       0
2      1   3       0
3      1   4       0
4      1   5       0
...   ..  ..     ...
9796  99  95       4
9797  99  96       3
9798  99  97       2
9799  99  98       1
9800  99  99       0

[9801 rows x 3 columns]

In [13]:
X=data1[['N1','N2']]
y=data1[['Result']]
X

      N1  N2
0      1   1
1      1   2
2      1   3
3      1   4
4      1   5
...   ..  ..
9796  99  95
9797  99  96
9798  99  97
9799  99  98
9800  99  99

[9801 rows x 2 columns]

In [14]:
random_forest = RandomForestRegressor()
random_forest.fit(X,y)

c:\Users\gjaischool1\anaconda3\envs\machine\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [15]:
random_forest.predict(pd.DataFrame([[22,7]],columns=['N1','N2']))

array([1.74])