In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("서울시 부동산 실거래가 정보.csv",encoding="euc-kr")

C:\Users\gjaischool1\AppData\Local\Temp\ipykernel_22052\3505237024.py:1: DtypeWarning: Columns (7,15,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("서울시 부동산 실거래가 정보.csv",encoding="euc-kr")

In [3]:
data.head()

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,11320,도봉구,10500,쌍문동,1.0,대지,81.0,30.0,인성하이츠빌라,...,12000,46.38,35.09,-1.0,NaN,NaN,1993.0,연립다세대,중개거래,서울 도봉구
1,2023,11590,동작구,10200,상도동,1.0,대지,7.0,171.0,케이디아이빌(E),...,14000,23.29,15.67,3.0,NaN,NaN,2007.0,연립다세대,직거래,NaN
2,2023,11380,은평구,10700,응암동,1.0,대지,768.0,0.0,백련산해모로,...,83000,74.91,0.00,23.0,NaN,NaN,2020.0,아파트,중개거래,서울 은평구
3,2023,11590,동작구,10200,상도동,1.0,대지,7.0,171.0,케이디아이빌(E),...,16000,27.71,18.66,1.0,NaN,NaN,2007.0,연립다세대,직거래,NaN
4,2023,11590,동작구,10600,동작동,1.0,대지,332.0,0.0,이수교KCC스위첸,...,105000,84.98,0.00,7.0,NaN,NaN,2006.0,아파트,직거래,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671949 entries, 0 to 2671948
Data columns (total 21 columns):
 #   Column            Dtype
---  ------            -----
 0   접수연도              int64
 1   자치구코드             int64
 2   자치구명              object
 3   법정동코드             int64
 4   법정동명              object
 5   지번구분              float64
 6   지번구분명             object
 7   본번                object
 8   부번                float64
 9   건물명               object
 10  계약일               int64
 11  물건금액(만원)          int64
 12  건물면적(㎡)           float64
 13  토지면적(㎡)           float64
 14  층                 float64
 15  권리구분              object
 16  취소일               float64
 17  건축년도              float64
 18  건물용도              object
 19  신고구분              object
 20  신고한 개업공인중개사 시군구명  object
dtypes: float64(7), int64(5), object(9)
memory usage: 428.1+ MB

In [5]:
data.describe(include="object")

,자치구명,법정동명,지번구분명,본번,건물명,권리구분,건물용도,신고구분,신고한 개업공인중개사 시군구명
count,2671949,2671949,2450765,2450787.0,2450781,55766,2671949,272378,205570
unique,25,438,3,3659.0,75562,2,4,2,933
top,강서구,화곡동,대지,1.0,현대,분양권,아파트,중개거래,서울 강서구
freq,192433,89362,2446792,13823.0,13606,31358,1341984,205762,17987

In [6]:
data.isnull().sum()

접수연도                      0
자치구코드                     0
자치구명                      0
법정동코드                     0
법정동명                      0
지번구분                 221184
지번구분명                221184
본번                   221162
부번                   221162
건물명                  221168
계약일                       0
물건금액(만원)                  0
건물면적(㎡)                   0
토지면적(㎡)              965169
층                    221028
권리구분                2616183
취소일                 2640762
건축년도                   8784
건물용도                      0
신고구분                2399571
신고한 개업공인중개사 시군구명    2466379
dtype: int64

In [7]:
data = data[[
    '접수연도',
    '자치구코드',
    '자치구명',
    '법정동코드',
    '법정동명',
    '계약일',
    '물건금액(만원)',
    '건물면적(㎡)',
    '건물용도'
]]

In [8]:
data.head()

   접수연도  자치구코드 자치구명  법정동코드 법정동명       계약일  물건금액(만원)  건물면적(㎡)   건물용도
0  2023  11320  도봉구  10500  쌍문동  20230711     12000    46.38  연립다세대
1  2023  11590  동작구  10200  상도동  20230711     14000    23.29  연립다세대
2  2023  11380  은평구  10700  응암동  20230711     83000    74.91    아파트
3  2023  11590  동작구  10200  상도동  20230711     16000    27.71  연립다세대
4  2023  11590  동작구  10600  동작동  20230711    105000    84.98    아파트

In [9]:
data['자치구명'].unique()

array(['도봉구', '동작구', '은평구', '중랑구', '서대문구', '강서구', '동대문구', '양천구', '강동구',
       '구로구', '서초구', '금천구', '성북구', '영등포구', '강북구', '마포구', '중구', '종로구',
       '강남구', '광진구', '성동구', '관악구', '노원구', '송파구', '용산구'], dtype=object)

In [10]:
data['자치구명'] = data['자치구명'].map({'도봉구':0, '동작구':1, '은평구':2, '중랑구':3, '서대문구':4, '강서구':5, '동대문구':6, '양천구':7, '강동구':8,
       '구로구':9, '서초구':10, '금천구':11, '성북구':12, '영등포구':13, '강북구':14, '마포구':15, '중구':16, '종로구':17,
       '강남구':18, '광진구':19, '성동구':20, '관악구':21, '노원구':22, '송파구':23, '용산구':24})